/* container */
header {
    background-color: var(--primary-color);
}

header .inner_content {
    max-width: 1600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 4rem;
    gap: 4rem;
}

/* texto */
header .left_side {
    color: #fff;
}

header .left_side h2 {
    font-size: 2.5rem;
}

header .left_side p {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

/* botão */
.see_more_btn {
    background-color: var(--primary-color);
    padding: 0.8rem 1rem;
    border-radius: 8px;
    transition: all 0.2s;
    display: flex;
    max-width: 130px;
    justify-content: space-between;
    align-items: center;
}

.see_more_btn:hover {
    background-color: var(--dark-primary-color);
    max-width: 200px;
}

/* imagem */
header .right_side img {
 width: 100%;
}

/* media (telas médias) */
@media (max-width: 928px) {
    header .inner_content {
        gap: 2rem;
        padding: 1.5rem;
        padding-top: 3rem;
    }

    header .left_side h2 {
        font-size: 1.8rem;
    }
}

/* media (mobile) */
@media (max-width: 780px) {
    header .inner_content {
        grid-template-columns: 1fr;
    }
}